<style>
  * {
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
  }
  div {
    padding: 30px 15px;
    background-color: #232129;
    color: #F4EDE8;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    color: #232129;
    padding: 18px 26px;
    border-radius: 8px;
    background-color: #ff9000;
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
  }
  h2 {
    margin-bottom: 14px;
  }
  p + p {
    margin-top: 8px;
  }
  p.footer {
    margin-top: 24px;
    color: #f4ede8ad;
    font-size: 10px;
  }
</style>
<div>
  <h2>Olá {{name}},</h2>
  <p>Recebemos seu pedido de recuperação de senha.</p>
  <p>Clique nesse botão para mudar sua senha:</p><br/>
  <a href="{{link}}">Recuperar senha</a><br/>
  <p class="footer">Se você não enviou esse pedido, ignore este email</p>
</div>
